
*{
  font-family:'Courier New', Courier, monospace;
}

body {
  padding: 40px;
}

.titu {
  color:rgb(38, 34, 21),
}


input {
  color: black;
  font-size:  1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card {
  align-content: center;
  border: 8px solid rgb(38, 34, 21);  
  border-radius: 20px;
  margin-bottom: 30px;
  margin-right: 30px;
  overflow: hidden;
}

.card p {
  padding: 0.1px;
  text-align: center;
}

.card img {
  max-height: 175px;
}
